.jumbotron{
	background-image: url(bg1.jpg);
	background-size: cover;
	height:700px;
	text-align: center;
	margin-top: -50px;
}
.jumbotron .display-4{
	margin-top: 150px;
}
.jumbotron hr{
	border-color: #F05F40;
	width: 70px;
	border-width: 3px;
}
.jumbotron .btn{
	background-color: #F05F40;
	border:none;
	border-radius: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
}
.carousel-item{
	height: 700px;
}
.carousel-item img{
	height: 700px;
}
.carousel-item .display-4{
	margin-top: -400px;
}
.carousel-item .carousel-caption{
	padding-right: 20px;
	padding-left: 20px;
}
.carousel-item hr{
	border-color: #F05F40;
	width: 70px;
	border-width: 3px;
}
.carousel-item .btn{
	background-color: #F05F40;
	border:none;
	border-radius: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
}
.dropdown-menu{
	margin-top: -4px;
}
.dropdown-item{
	text-decoration-color: #FFFFFF
}
